figure {
    float: left;
    text-align: center;
}
figure img{
    width: 150px;
    transition: 1s;
}
#uno:hover{
transform: scale(1.9);

}
#dos:hover{
transform: skewY(50deg);

}
#tres:hover{
transform: rotate(180deg);
}
#cuatro:hover{

    transform: translate(30px, 60px);
}
#cinco:hover{
    transform: rotate(-180deg);
}